body {
  width: 1900px;
}

.container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 70px;
  background: #313131;
}

.span-logo {
  font-family: "Open Sans", sans-serif;
  font-weight: bold;
  font-size: 22px;
  line-height: 30px;
  color: #ffffff;
}

.nav-menu {
  display: flex;
  align-items: center;
  justify-content: center;
}

.nav-menu-item {
  margin-left: 35px;
}

.nav-menu-item :hover {
  color: #14b9d5;
}

.nav-menu-link {
  font-family: "Open Sans", sans-serif;
  font-weight: 600;
  font-size: 15px;
  line-height: 20px;
  text-transform: uppercase;
  color: #ffffff;
}

.btn-search {
  border: none;
  box-sizing: border-box;
  cursor: pointer;
  padding: 0;
}

.logo-img {
  margin-left: 29px;
}

.span-logo {
  margin-left: 27px;
}

.nav-logo {
  display: flex;
  align-items: center;
}

.header-background-title {
  height: 369px;
   background-image: url(../img/header-bg.jpeg);
  /* background-repeat: no-repeat; */
  background-attachment: fixed;
}

.title {
  text-align: center;
  font-family: "Open Sans", sans-serif;
  font-weight: bold;
  font-size: 27px;
  line-height: 37px;

  text-transform: uppercase;
}

.title-header {
  padding-top: 163px;
  color: #ffffff;
}

.header-buttons {
  display: flex;
  align-items: center;
  justify-content: center;
}

.btn {
  width: 170px;
  height: 55px;
  border-radius: 4px;
  font-family: "Open Sans", sans-serif;
  font-weight: 600;
  font-size: 18px;
  line-height: 25px;
  text-align: center;
  color: #ffffff;
  margin: 44px 20px;
  cursor: pointer;
}

.btn-green {
  background: #89ca62;
}

.btn-blue {
  background: #14b9d5;
}

.title-sections {
  color: #18b4cf;
  margin-bottom: 50px;
  padding-top: 50px;
}

.container-wrapper {
  display: flex;
  align-items: flex-start;
  justify-content: center;
}

.popular-post {
  width: 320px;
  display: flex;
  flex-direction: column;
  margin-top: 30px;
  justify-content: center;
  background: #ffffff;
}

.main-section-posts {
  height: 1030px;
  background: #f2f2f2;
}

.popular-post-column {
  display: flex;
  flex-direction: column;
  margin-left: 30px;
}

h3 {
  font-family: "Open Sans", sans-serif;
  font-weight: bold;
  font-size: 18px;
  line-height: 25px;
  color: #353a3d;
}

.popular-post-item {
  margin-bottom: 30px;
  text-align: center;
  padding: 20px 0;
}

.section-brands {
  background-image: url(../img/parallax-bg.jpeg);
  height: 588px;
  background-attachment: fixed;
}

.title-brands {
  color: #ffffff;
  padding-top: 108px;
}

.brand-list {
  display: grid;
  grid-template-columns: repeat(4, auto);
  grid-area: auto;
  grid-template-rows: repeat(1, 63px);
  gap: 58px;
  justify-content: center;
  margin-top: 190px;
  align-items: center;
}

.top-rates-list {
  display: grid;
  grid-auto-flow: column;
}

.wrapper-grid {
  display: grid;
  grid-template-columns: repeat(6, 277px);
  grid-template-rows: repeat(8, auto);
  gap: 45px;
}

.flex-column-center {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.flex-center-end {
  display: flex;
  flex-direction: column;
  justify-content: end;
}

.news-item1 {
  grid-area: 1 / 2 / 2 / 5;
  display: flex;
  align-items: center;
  background: #f9f7f7;
  box-shadow: 0px 1px 0px rgba(0, 0, 0, 0.03);
}

.news-item2 {
  grid-area: 1 / 5 / 2 / 6;
  background: #f9f7f7;
  box-shadow: 0px 1px 0px rgba(0, 0, 0, 0.03);
}

.news-item3 {
  grid-area: 2 / 2 / 4 / 4;
  background: #f9f7f7;
  box-shadow: 0px 1px 0px rgba(0, 0, 0, 0.03);
}

.news-item4 {
  grid-area: 2 / 4 / 4 / 6;
  background: #f9f7f7;
  box-shadow: 0px 1px 0px rgba(0, 0, 0, 0.03);
}

.news-item5 {
  grid-area: 4 / 2 / 6 / 4;
  background: #f9f7f7;
  box-shadow: 0px 1px 0px rgba(0, 0, 0, 0.03);
}

.news-item6 {
  grid-area: 4 / 4 / 6 / 6;
  background: #f9f7f7;
  box-shadow: 0px 1px 0px rgba(0, 0, 0, 0.03);
}

.news-item7 {
  grid-area: 6 / 2 / 8 / 3;
  background: #f9f7f7;
  box-shadow: 0px 1px 0px rgba(0, 0, 0, 0.03);
}

.news-item8 {
  grid-area: 6 / 3 / 8 / 6;
  display: flex;
  align-items: center;
  background: #f9f7f7;
  box-shadow: 0px 1px 0px rgba(0, 0, 0, 0.03);
}

.news-description {
  font-family: "Open Sans", sans-serif;
  font-weight: 600;
  font-size: 14px;
  line-height: 21px;
  align-items: center;
  text-align: right;
  margin: 15px;
}

.hot-news-item {
  text-align: right;
  margin: 15px 25px;
}

.footer {
  margin-top: 32px;
  height: 80px;
  background: #000000;
  display: grid;
  grid-template-columns: 320px 1fr 1fr 345px;
  align-items: center;
  justify-content: center;
}

.footer-logo {
  display: flex;
  justify-content: end;
  grid-column: 3 / 4;
}

.rights-reserved-footer {
  grid-column: 2 / 3;
  font-family: "Open Sans", sans-serif;
  font-size: 13px;
  line-height: 13px;
  color: #ffffff;
}

.section-news {
  background: rgba(0, 0, 0, 0.0001);
}

.section-top-rates {
  background: #e5e5e5;
}